
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.idea/
.vscode/
.idea/php.xml
.idea
.idea/wr602d.iml

.env

# Ignorer les contrôleurs et les templates de sécurité
src/Controller/RegistrationController.php
src/Controller/ResetPasswordController.php
src/Controller/SecurityController.php
src/Controller/SubscriptionController.php
src/Security/
templates/registration/
templates/reset_password/
templates/security/
templates/subscription/
