{% extends 'base.html.twig' %}

{% block title %}Generation History{% endblock %}

{% block body %}
    <h1>Generation History</h1>

    <p>A list of your past PDF generations will be displayed here.</p>
{% endblock %}
