{% extends 'base.html.twig' %}

{% block title %}Generate PDF{% endblock %}

{% block body %}
    <h1>Generate PDF</h1>

    {% include 'pdf/_form.html.twig' with {'form': form, 'type': type} %}
{% endblock %}
