{% extends 'base.html.twig' %}

{% block title %}Générer PDF{% endblock %}

{% block content %}
    <div style="max-width: 800px; margin: 0 auto;">
        {% include 'pdf/_form.html.twig' with {'form': form, 'type': type} %}
    </div>

    <script>
        function goBack() {
            window.location.href = "{{ path('homepage') }}";
        }
    </script>
{% endblock %}
